version: '2.0'
services:
  samtecdeviceshare:
    build: samtecdeviceshare
    ports:
      - "1337:1337"
      - "47546:47546"
    environment:
      - PYTHON_ENV=production
      - APP_IMG_PATH=/img.png
      - APP_DATA_DIR=/data
      - APP_LOG_PATH=/tmp/logs
    volumes:
      - 'logs-volume:/tmp/logs'
      - 'resin-data:/data'
      #- '/var/run/docker.sock:/var/run/docker.sock'
      #- '/var/run/balena.sock:/var/run/docker.sock'
    labels:
      io.balena.features.supervisor-api: '1'
      io.balena.features.balena-api: '1'
      io.balena.features.dbus: '1'
  notebook:
    build: notebook
    privileged: true
    ports:
      - "8080:8080" # http alt, spare
      - "28282:22" # ssh
      - "8050:8050" # dash server, spare
      - "33000:33000" # spare 
      - "34000:34000" # spare 
    environment:
      - UDEV=1
      - DBUS_SYSTEM_BUS_ADDRESS=unix:path=/host/run/dbus/system_bus_socket
    devices:
      - "/dev/i2c-1:/dev/i2c-1"
      - "/dev/mem:/dev/mem"
    cap_add:
      - SYS_RAWIO
    labels:
      io.balena.features.dbus: '1'
      io.balena.features.balena-socket: '1'
      io.balena.features.firmware: '1'
      io.balena.features.kernel-modules: '1'
    volumes:
      - 'logs-volume:/tmp/logs'
      - 'resin-data:/data'
      - 'nb-lab:/lab'
      - 'nb-code:/code'
      - 'nb-program:/program'
      - 'nb-home:/home/dev'
  nginx:
    build: nginx
    depends_on: 
      - samtecdeviceshare 
      - notebook
      - minio
    ports:
      - "80:80"
  minio:
    build: 
      context: ./minio
      #dockerfile: Dockerfile.arm64.release
    ports:
      - "9000:9000"
    environment:
      - APP_LOG_PATH=/tmp/logs
      #- MINIO_ACCESS_KEY
      #- MINIO_SECRET_KEY
    volumes:
      - 'storage:/data'
      - 'minio-program:/program'
    command: ["minio", "server", "/storage", "--certs-dir", "/program/minio"]
volumes:
     logs-volume: 
     resin-data: 
     nb-program:
     nb-code:
     nb-lab:
     nb-home:
     minio-program:
     storage:



